<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Gian Gallego">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/image/favicon.ico" type="x-icon"/>
    <link rel="stylesheet" href="static/css/Devops.css">
    <title>DevOps Engineer Page</title>
</head>
<body>
      <div id="nav-bar">
        <header id="main-header">
            <img src="static/image/cooltext496253363751185.png" id="DevOpsHive" width="250px"/>
         </header>
        <div id="nav-buttons">
            <a href="{{url_for('main')}}">Home</a>
            <a href="{{url_for('DevOps')}}" class="active">DevOps Engineer</a>
            <a href="{{url_for('Cloud')}}">Cloud Engineer</a>
            <a href="{{url_for('Site')}}">Site Reliability Engineer</a>
            <a href="{{url_for('account')}}">My Account</a>
        </div>
    </div>
        <h1 id="top-header">DevOps Engineer</h1>
               <img id="main-image" src="static/image/DevOps Engineer at Work.png" width="300px" height="200px"/>


<div id="whole-section">
        <div id="tools-section">
            <h2><em>Common Tools</em></h2>
            <div id="tool-img">
            <img src="static/image/newJenkins_logo-removebg-preview.png" width="60px" height="50px">
            <img src="static/image/docker-removebg-preview.png" width="60px" height="50px">
            <img src="static/image/Kuburnetes-removebg-preview.png" width="60px" height="50px">
            <img src="static/image/Terraform-removebg-preview.png" width="75px" height="50px">
            <img src="static/image/git-removebg-preview.png" width="60px" height="50px">
        </div>
    </div>
    <div id="main-section">
        <h1>What is a DevOps Engineer</h1>
        <p>A DevOps engineer is an IT generalist with broad knowledge in development and operations, 
            including coding, infrastructure management, system administration, and common DevOps tools. 
            Because they work across teams, strong communication and collaboration skills are essential.<br><br>

Responsibilities vary by company but often include improving and updating software, 
enhancing security, automating workflows, managing cloud environments, and maintaining CI/CD pipelines. 
DevOps engineers also monitor system performance, troubleshoot issues, ensure high application 
availability, and support scalability, cost optimization, and best practices for faster, more efficient software delivery.
    </p>  
        
    </div>

    <div id="companies-section">
        <h2><em>Companies Hiring </em></h2>
        <div id="company-img">
            <img src="static/image/amazon-removebg-preview.png" width="80px" height="50px">
            <img src="static/image/IBM-removebg-preview.png" width="80px" height="50px">
            <img src="static/image/Netflix-removebg-preview.png" width="80px" height="50px">
            <img src="static/image/google-removebg-preview.png" width="80px" height="50px">
            <img src="static/image/Microsoft_image-removebg-preview.png" width="80px" height="50px">
            </div>
    </div>
</div>

<div id="lower-section">
    <div id="skills-section">
        <h2><em>Key Skills</em></h2>    
        <ul>
            <li>Strong Linux/Unix fundamentals</li>
            <li>Scripting (Bash, Python, etc.)</li>
            <li>CI/CD pipeline design and tools (Jenkins, GitHub Actions, GitLab CI)</li>
            <li>Cloud platforms (AWS, Azure, GCP)</li>
            <li>Infrastructure as Code (Terraform, CloudFormation)</li>
            <li>Containerization (Docker)</li>
            <li>Orchestration (Kubernetes)</li>
            <li>Monitoring & logging (Prometheus, Grafana, ELK)</li>
            <li>Networking basics (DNS, load balancing, firewalls)</li>
            <li>Version control (Git)</li>
            <li>automation mindset and problem-solving skills</li>
            </ul>
    </div>
    <div id="certifications-section">
        <h2><em>Relevant Certifications</em></h2>
            <ul>
                <h3>AWS Certification</h3>
                <li>AWS Certified DevOps Engineer – Professional</li>
                <h3>Microsoft Certification</h3>
                <li>Microsoft Certified: DevOps Engineer Expert</li>
                <h3>Google Certification</h3>
                <li>Google Professional DevOps Engineer</li>
                <h3>Docker Certification</h3>
                <li>Docker Certified Associate</li>
                <h3>Kubernetes Certification</h3>
                <li>Kubernetes Certified Administrator (CKA)</li>
                <h3>HashiCorp Certification</h3>
                <li>HashiCorp Certified: Terraform Associate</li>
            </ul>            
</div>
<div id="programming-section">
    <h2><em>Programming Languages</em></h2>
    <div id="programme-img">
    <img src="static/image/Python_img-removebg-preview.png"width="80px" height="70px">
    <img src="static/image/Golang_logo-removebg-preview.png"width="80px" height="70px">
    <img src="static/image/Ruby_img-removebg-preview.png"width="80px" height="70px">
    <img src="static/image/Java_img-removebg-preview.png" width="80px" height="70px">
    <img src="static/image/Javascript_img-removebg-preview.png"width="80px" height="70px">
    </div>
</div>
</div>
    <footer id="footer">
    <div id="bottom-footer">
        <h1 id="bottom-header">DevOpsHive</h1>
        <p id="bottom-line">This is a website that provides the users information on
        DevOps<br>and examples of the various career opportunites in the field.</p>
        <hr id="line">
    <div id="bottom-step">
        <p id="bottom-text">&copy; Gian Gallego</p>
        <div id="links">
        <a href="{{url_for('main')}}">Home</a>
        <a href="{{url_for('account')}}">My Account</a>
        </div>
        </div>
    </div>
</footer>
    <script src="static/java/java3.js"></script>
</body>
</html>